<div class="container-fluid mb-5">
  <h1>Enrollment</h1>
</div>
<form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <!-- {{userModel | json}} -->
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" required class="form-control" name="fname" #fname="ngModel" [(ngModel)]="userModel.fname">

      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" name="lname" #lname="ngModel" [(ngModel)]="userModel.lname">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" required name="email" #email="ngModel" [(ngModel)]="userModel.email">

      </div>

      <div class="form-group">
        <label>Phone</label>
        <input type="tel" class="form-control" required name="phone" #phone="ngModel" [(ngModel)]="userModel.phone">
      </div>



      <button class="btn btn-primary" type="submit">Submit Form</button>
    </div>
  </div>
</form>

<span class="p-float-label">
  <input id="float-input" type="text" [(ngModel)]="title" pInputText>
  <label for="float-input">Username</label>
</span>


<button pButton type="button" label="Small" icon="pi pi-search" (click)="upper()" [loading]="isLoading" ></button>
<p>{{title}}</p>
